.deposit-detail .card-header {
    background-color: #00587A;
    color: white
}

.deposit-detail .card-icon {
    color: #008891;
}

.deposit-detail ul {
    overflow-y: auto;
    max-height: calc(100vh - 577px);
}