.content {
    height: 100vh;
    background-color: #e7e7de;
    margin: 0;
    padding: 66px 0;
}

.item-list ul {
    overflow-y: auto;
    max-height: calc(100vh - 220px);
}

.copyAvtomatAddressSpan:hover {
    cursor: copy;
    color: #e7e7de;
}
