.statusPage {
    background-color: #e7e7de;
    /* background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png"); */
    /* background-image: url("https://www.transparenttextures.com/patterns/cardboard-flat.png"); */
    height: 100vh;
}

.content {
    margin: 0;
    padding-top: 15px;
}