.btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .6;
    border-radius: .2rem;
}

.appIdSpan:hover {
    cursor: grab;
    color: #A9A9A9;
}

.pressedAppIdSpan {
    cursor: grabbing;
    color: #f0ad4e;
}
