.item-list .card-header {
    background-color: #00587A;
    color: white;
}

.item-list ul {
    overflow-y: auto;
    max-height: calc(100vh - 183px);
}

.selected-item {
    background-color: #E7E7DE;
}